body{
    background-color: #ffffff;
}

header{
    background-color: #045157;
    width: 100%;
}

/* .container{
    background-color: #797978 ;
} */

#innerCard{
    margin-bottom: 5px;
    margin-right:-10px;
    margin-left:-10px;
}

.graph{
    display: inline-block;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .container{
        margin-top: 10px;
    }


    *{
        font-size: 14px;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .container{
        margin-top: 50px;
    }

    *{
        font-size: 16px;
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    /* .container{
        width: 30%;
        display:inline-block;
        font-size: medium;
    } */


    *{
        font-size: 18px;
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    
    *{
        font-size: 20px;
    }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}

.accordion-body,
.review-dropdown-li,
.review-dropdown
{
    padding-top: 0;
    padding-bottom: 0 ;
    padding-left: 0;
    padding-right: 0;
}

.table-detailed-view{
    margin-bottom: 0;
}

.table-detailed-view tr{
    border: rgb(80, 80, 80) solid 1px;
}

.noExceptionHeading,
.noResourceHeading{
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.noPassedDiv h6,
.noUpcomingDiv h6{
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

#resourceNonCompliant{
    background-color: rgb(255, 127, 127);
}
#resourceCompliant{
    background-color: rgb(204, 255, 204);
}

/* IMPORTANT */
.offcanvas{
    z-index: 1500!important;
}

input[type=datetime-local], input[type=text], input[type=password], input[type=number]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid rgb(0, 0, 0);
    box-sizing: border-box;
}

#LoginStatus{
    color: red;
  }
  
#LoginSubmit, #CreateUser, #createExceptionConfirm, .btn {
    background-color: rgb(33, 37, 41) !important;
    color: white;
    border: none;
    cursor: pointer;
}

.navbar{
    background-color: rgb(241, 180, 52);
}

main{
    margin-top: 10vh;
}

.table-sort {
	position: relative;
}

.table-sort:before,
.table-sort:after {
	border: 4px solid transparent;
	content: "";
	display: block;
	right: 0px;
	top: 50%;
	position: absolute;
}

.table-sort:before {
	border-bottom-color: white;
	margin-top: -9px;
}

.table-sort:after {
	border-top-color: white;
	margin-top: 1px;
}