body {font-family: Arial, Helvetica, sans-serif;}
/* form {border: 3px solid #f1f1f1;} */

input[type=datetime-local], input[type=text], input[type=password], input[type=number]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid rgb(0, 0, 0);
    box-sizing: border-box;
}

#LoginStatus{
  color: red;
}

#LoginSubmit, #createExceptionConfirm, #createCustomerConfirm, #PortalBtn {
  background-color: black;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* IMPORTANT */
.offcanvas{
  z-index: 1500;
}

#LoginSubmit:hover, #CreateUser:hover, #createCustomerConfirm, #PortalBtn{
  opacity: 0.8;
}
    
.container {
  padding: 16px;
  max-width: 500px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

#BrightSolidLogo{
    margin-top: 25px;
    max-width: 60%;
}

#LoginForm, #CreateUserForm{
  margin-top: 45px;
}

#LoginSpinner{
    margin-top: 15%;
    width: 5rem; height: 5rem;
    color: rgb(17, 94, 103);
}

#LoggingInPage{
    background-color: rgb(241, 180, 52);
}

#adminButtons{
  margin-top: 15px;;
}

.AdminPortal .btn{
  max-width: 50%;
}

.AdminPortal .btn{
  max-width: 50%;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
      display: block;
      float: none;
  }
}

/* Change styles on extra large screens */
@media (min-width: 800px) {
    #BrightSolidLogo{
        margin-top: 25px;
        max-width: 25%;
    }
}